<body>
	<header class="header">
		<figure class="nav-box head-box">
			<img src="./assets/avatar/logounu-trans.png" alt="Logo UNU" class="logo">
			<figcaption class="roboto-medium text-center fig-left">
				Universidad Nacional de Ucayali
			</figcaption>
		</figure>
	</header>
	
	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral ">
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar nav-box">
					<img src="./assets/avatar/logo_idiomas.png" class="img-fluid img-nav" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						Portal cautivo Hotspot
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<!-- Dashboard -->
						<li>
							<a href="home.html"><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a>
						</li>
						<!-- Registro -->
						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Monitor <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="registro-user.html"><i class="fas fa-plus fa-fw"></i> &nbsp; Usuarios</a>
								</li>
								<li>
									<a href="registro-curso.html"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Estudiantes</a>
								</li>
								<li>
									<a href="registro-horarios.html"><i class="fa-regular fa-clock"></i> &nbsp; Docentes</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->
		<section class="full-box page-content">
			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fa-solid fa-tv"></i> &nbsp; DASHBOARD
				</h3>
				<p class="text-justify">
					
				</p>
			</div>
			
			<!-- Content -->
			<div class="full-box tile-container">
				<a href="registro-user.html" class="tile">
					<div class="tile-tittle">Usuarios</div>
					<div class="tile-icon">
						<i class="fas fa-users fa-fw"></i>
						<p>5 Registrados</p>
					</div>
				</a>
				
				<a href="matricula-nuevo.html" class="tile">
					<div class="tile-tittle">Estudiantes</div>
					<div class="tile-icon">
						<i class="fas fa-pallet fa-fw"></i>
						<p>9 Registrados</p>
					</div>
				</a>

				<a href="reservation-reservation.html" class="tile">
					<div class="tile-tittle">Docentes</div>
					<div class="tile-icon">
						<i class="far fa-calendar-alt fa-fw"></i>
						<p>30 Registradas</p>
					</div>
				</a>
			</div>
		</section>
	</main>
	
	
	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="./js/jquery-3.4.1.min.js" ></script>

	<!-- popper -->
	<script src="./js/popper.min.js" ></script>

	<!-- Bootstrap V4.3 -->
	<script src="./js/bootstrap.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="./js/jquery.mCustomScrollbar.concat.min.js" ></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="./js/bootstrap-material-design.min.js" ></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

	<script src="./js/main.js" ></script>
</body>